.poem-button-container {
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 1rem auto 10px;
    max-width: 800px;
    text-align: center;
    font-family: "Courier New";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; /* Enable vertical scrolling */
}

.poem-button {
    flex: 0 1 calc(50% - 10px);
    width: 250px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.poem-button:hover {
    opacity: 0.8;
}

.poem-button-text {
    background-color: rgba(68, 25, 62, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

.poem-container {
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    max-width: 800px;
    background-size: cover;
    background-position: center;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.poem-title {
    text-align: center;
    margin-bottom: 1rem;
}

.poem-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 0.5rem;
    color: #080609;
}

.back-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    cursor: pointer;
    max-width: 800px;
    padding: 10px;
    margin: 0.5rem auto;
    display: block;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    display: none;
}

.back-button:hover {
    background-color: #444;
}

/* Media Query for mobile devices */
@media (max-width: 768px) {
    .poem-button {
        flex: 0 1 100%; /* Full width for mobile view */
        max-width: none;
        margin-bottom: 10px;
    }

    .poem-button-container {
        padding: 1rem; /* Adjust padding for mobile */
    }
    .poem-container {
        padding: 1rem; /* Reduce padding for mobile */
    }

    .poem-content {
        padding: 1rem; /* Reduce padding for mobile */
        font-size: 1rem; /* Adjust font size for better readability */
    }
}
