.poem-button-container {
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
  max-width: 800px;
  text-align: center;
  font-family: "Courier New"
}

.poem-button {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    white-space: normal; /* Allows text to wrap to the next line */
    word-wrap: break-word; /* Ensures the text wraps within the button */
    word-break: break-word; /* Breaks long words if needed */
    text-align: center; /* Centers the text within the button */
    position: relative;
}

.poem-button:hover {
    opacity: 0.8;
}

.poem-button-text {
    background-color: rgba(68, 25, 62, 0.5);
    padding: 5px 10px;
    border-radius: 5px; /* Rounds the corners of the background */
    position: relative; /* Ensures the text background is positioned correctly */
    display: inline-block; /* Ensures the background only covers the text */
    white-space: normal; /* Allows text to wrap to the next line */
    word-wrap: break-word; /* Ensures the text wraps within the button */
    word-break: break-word; /* Breaks long words if needed */
}

.poem-container {
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    max-width: 800px;
    background-size: cover;
    background-position: center;
    white-space: normal; /* Allows text to wrap to the next line */
    word-wrap: break-word; /* Ensures the text wraps within the button */
    word-break: break-word; /* Breaks long words if needed */
}

.poem-title {
    text-align: center;
    margin-bottom: 1rem;
}

.poem-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 0.5rem;
    color: #080609;
}

.back-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    cursor: pointer;
    max-width: 800px;
    padding: 10px;
    margin: 0.5rem auto;
    display: block;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    display: none;
}


.back-button:hover {
    background-color: #444;
}