{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('art.static', filename='styles/art.css') }}">
<div class="container">
    <div class="art-detail-container">
        <img src="{{ url_for('static', filename='uploads/' ~ art.art_upload) }}" class="img-fluid" alt="{{ art.title }}" style="max-width: 100%; height: auto; display: block;">
    </div>
    <button id="back-button" class="back-button" onclick="goBack()">Back</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}





